.card {
    display: flex;
    width: 80%;
    margin: 0 auto; /* Para centrar las tarjetas horizontalmente */
    margin-bottom: 20px; /* Espacio entre tarjetas */
    background: #1D2B53;
    color: #FAEF5D ;
  }
  
  .card-content {
    flex: 1; /* El contenido ocupa el espacio restante */
    padding: 20px;
  }
  
  .card-content h2 {
    margin-bottom: 10px;
  }
  
  .card-content p {
    margin-bottom: 0;
  }

  