nav{
    text-align: center;
    background: #CDE8E5;
    width: 100%;
    height: 10vh;
    align-content: center;
    font-size: 12vh;
    font-weight: 400;
    color: #FF204E;
}
nav span{
  font-family: "Love Ya Like A Sister", cursive;
}
