.rompeAmistadesHomeContainer{
    background: #CDE8E5;
    height: 65vh;
    text-align: center;
    margin: 0;
}
.btnGamemodeContainer{
    text-align: -webkit-center;
}
.homeIconContainerRompeAmistades{
  padding-top: 2vh;
  margin: 0;
  background: #CDE8E5;
  width: 100%;
  text-align: center;

}
.homeIcon{
  font-size: 7vh;
  color: #FF204E;
}
.gamemodeLogo h1{
  color: #FF204E;
}.rompeAmistadesHome{
  background: #CDE8E5 ;
  padding: 0;
  margin: 0;
  height: 100vh;
}
.rompeAmistadesHome a{
  font-size: 8vh;
  text-decoration: none;
  padding: 1vh;
  color: #00224D ;
  cursor: pointer;
}
.classicCardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: center; /* Centra los elementos verticalmente */
  background: #00224D;
  border-radius: 10px;
  margin: 2.9vh;
}
.classicCard {
  width: 300px; /* Ancho de la tarjeta */
  height: 400px; /* Altura de la tarjeta */
  border: 1px solid #FF204E;
  border-radius: 10px;
  margin: 2vh;
  height: 60vh;
  text-align: center;
}
.classicCard img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.title,
.cardSentence {
  margin: 4vh 0;
  font-size: 4vh;
  color: #FF204E;
}
.cardSentence{
  font-size: 3vh;
}
.classicIcon{
  font-size: 15vh;
  color: #FF204E;
  padding-top: 2vh;
}
.nextBtnContainer{
  text-align: center;
}
.nextBtnContainer a{
  font-size: 15vh;
}

.button-87 {
  width: 35vh;
  height: 5rem; 
  border: none;
  outline: none;
  color: #ffffff;
  font-size: 4vh;
  background: #00224D;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 3vh;
  margin-top: 3vh;
  box-shadow: 0 4px 6px #FF204E;

}

/* .button-85:before {
  content: "";
  background: linear-gradient(
    45deg,
    #FAEF5D,
    #FF004D,
    #FAEF5D,
    #15F5BA,
    #FAEF5D,
    #FF004D,
    #15F5BA,
    #FF004D,
    #FAEF5D
  ); 

  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
} */

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}