.navbar{
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 2vh;
    background: #00224D;
    
}
.mode{
    font-size: 10vh;
}

.chillMode{
    color: rgb(11, 167, 230);
}
.hutMode{
    color: rgb(228, 15, 15);
}
.drinkMode{
    color: rgb(255, 255, 146);
}